$blue: #FFF;
*,::before,::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
input::-ms-clear{
    display: none;
}
body{
    
color: #fff!important;
background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1)), linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(122, 9, 145, 0.5)), url(../images/back.jpg)50%/cover;
background-repeat: no-repeat;
background-attachment: fixed;
backdrop-filter: blur(50px);
}
.services{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}
.service{
    width: 300px;
    margin: 50px;
}
.preloader{
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    width: 100vw;
    height: 100vh;
    position: fixed;
    margin:0;
}
.lds-preload {

position: fixed;

    
  }
  
  .container__diagonal {
    /* Absolute position */
    left: 0px;
    position: absolute;
    top: 0px;

    /* Take full size */
    height: 100%;
    width: 100%;

    /* Create diagonal sides */
    transform: skewY(-5deg);

    /* Background color */
    background-color: rgba(0, 0, 0, 0.3);

    /* Displayed under the main content */
    z-index: -1;
}
  .lds-preload div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: rgb(188, 8, 188);
    animation: lds-preload 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }
  .lds-preload div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
  }
  .lds-preload div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
  }
  .lds-preload div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
  }
  @keyframes lds-preload {
    0% {
      top: 8px;
      height: 64px;
    }
    50%, 100% {
      top: 24px;
      height: 32px;
    }
  }
.header{
    position: relative;
    width: 100%;
    height: 15vh;
    background-color: rgba(0, 0, 0, 0.8);

}
@media (max-width:1200px) {
.search{
    display: none!important;
}
}
.nav{  
     
    display: flex;
    align-items: center;
    justify-content:center ;
    padding: 10px;
    margin:0;
    height: 50px;
}
.logo{
letter-spacing: 5px;
margin-left: 10px;
font-weight: 700;
margin-right: auto;
color: rgb(229, 131, 233);
}
.nav_link{
    margin-left: auto;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding:10px;
    margin: 10px;
    transition: 1s;
}
.nav_link:hover{
color:rgb(255, 255, 255);
background-color: rgba(194, 44, 174, 0.3);
border-radius: 10px;
}
.modal_body{

}
.user{
    background-color: rgba(194, 44, 174, 0.3);
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    margin-left: auto;
    border-radius: 10px;
    transition: .4s ease-in-out;
}
.user:hover{
    background-color: rgba(232, 163, 235, 0.5);
    color: #fff;
}
.container{
    backdrop-filter: blur(200px);
}
.footer{
    background-color: rgba(243, 243, 243, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}
footer ul{
    margin: 20px;
}
.footer li{
    list-style-type: none;
    font-size: 16px;
}
.user:hover{
    color:#fff;
}
.info{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    font-size: 32px;
   backdrop-filter: blur(120px);

}
.title{
   position: absolute;
   top: 210px;
}
.high_text{
    font-size: 98px;
    color: rgb(229, 131, 233);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing:20px;
    text-shadow: 0px 1px 0px #fff, 9px 8px 0px rgba(0,0,0,0.15);
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-name: title;
}
@keyframes title {
    from{
        opacity: 0.1;
    }
    to{
        opacity: 1;
    }
    
}
.text{
    padding-left: 200px;
    padding-right: 200px;
    margin-top: 120px;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 10px;
}
.gallery_item{
    margin: 10px;
    width: 400px;
}
.gallery_image{
    width: 100%;
    height: 400px;
}
.gallery_text{
    background-color: rgba(236, 236, 236, 0.1);
}
.popup {
    display:block;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 80%);
    top:0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    z-index:99999999; 
    overflow-y: auto;
    overflow-x:hidden;
    transition: all 0.4s ease 0s;
    
  }
  .popup:target{
      opacity: 1;
      visibility: visible;
  }
  .popup_body {
      min-height: 100%;
      display: flex;
      align-items: center;
      justify-content: center ;
      padding: 30px 10px;
  }
  .popup_content{
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  max-width: 1200px;
  padding: 30px;
  position: relative;
  border-radius: 0px;
  }
  .popup_close{
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 24px ;
  color: rgb(235, 0, 0);
  text-decoration: none;
  }
  .popup_title{
  font-size: 24px;
  margin: 0px 0px 1em 0px;
  }
  .popup_text{
    font-size: 24px;
  }
.login_input{
    width: 300px;
    height: 70px;
    border: none;
    border-bottom: 1px solid silver;
    outline:none;
}
.loginbutton{
    margin-top:10px;
    width: 300px;
    height: 70px;
    border: none;
    outline: none;
    color:#fff;
    background-color: rgb(183, 29, 189);
}
.authP{
    font-size: 24px;
}
.popup a{
    color:rgb(221, 52, 255);
    text-decoration: none;
}
.gallery_title{
   text-align: center;
   font-size: 23px;
   margin-bottom: 5px;
}
.error_page{
height: 70vh;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}
.error_big{
    font-size: 240px;
}
.error_little{
    font-size: 50px;
}
.gallery{
    display: flex;
    flex-direction: row;

    &-item{
        margin-top:50px;
        width: 400px;
        height: 400px;
        margin-right: 20px;
    }
    &-text{
        font-size: 24px;
        text-align: center;
        z-index: 100;
    }
    &-image{
        width: 400px;
        height: 400px;
        transition: 3s ease;
        &:hover{
            transform: scale(1.1);
        }
    }
    
}
.gallery-admin{
    width: 400px;
    height: 400px;
}
.gallery-admin:hover{
        transform: scale(1);
}

.serve{
    height: 100vh;
    position: relative;
}
.serve p{
    font-size: 20px;
}
.news{
display: flex;
}
.back{
    text-decoration: none;
    color: #fff;
    padding-right: 20px;
    &:hover{
        color: #fff;
    }
}
.user_info{
    display: flex;
    margin-top: 30px;
}
.user_avatar{
    width: 50%;
}
.user_avatars{
    width: 30vw;
    height: 50vh;
}
.buy{
    width: 200px;

    color: #FFFFFF;
    text-decoration: none;
    background-color: rgb(154, 13, 209);
    padding: 10px;
    border: none;
    border-radius: 10px;
    transition: 0.1s ease-in-out;
}
.buy:hover{
    color: #fff;
    background-color: rgb(188, 19, 255);
    transition: 1s ease-in-out;

}
.card {
    display: flex;
    flex-direction: column;
    background-color: rgba($color: #000000, $alpha: 0.2)!important;

}

.card__cover {
    height: 150px;
    width: 100%;
}

.card__content {
    /* Take available height */
    background-color: rgba($color: #000000, $alpha: 0.2);
    flex: 1;
    font-size: 14px!important;
}

.nimage{
position: relative;
width: 100%;
height: 70vh;
}

.good_btns{
    display: flex;
    flex-direction: column;
}
.good_name{
    font-size: 24px;
    
}
.good_desc{
    text-align: start;
}
.like{
    text-decoration: none;
    color: #fff;
}
@media(max-width:900px) {
    .header{
        height: 400px;
        position: relative;
    }
    .user_info{
        display: block;
    }
    .user_avatars{
        width: 300px;
    }
    .nav{
        flex-wrap: nowrap!important;
        flex-direction: column;
        justify-content: start;
    }
    .search{
        display:hidden;
    }
    .user{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        width: 150px;
       margin-left:auto;
       margin-right: auto;
    }
    .nav_link{
        margin:0px;
        padding: 3px;
    }
    // .form-control{
    // display: none!important;
    // }
    .nav-admin{
        display: inline;
    }
    .footer{

        display: block;
        width: 100vw;
    
    }
    }
    .nav-admin{
        display: flex;
        background-color: rgba(115, 18, 139, 0.425);
        padding: 10px;
    }
    .admin-title{
        margin: 20px;
    }
    .news_admin{
        width: 250px;
    }
    .crud{
        text-decoration: none;
        color: #fff;
        &:hover{
            color: #fff;
        }
    }
    .admin-item{
        padding: 10px;
        margin: 10px;
        font-size: 18px;
        text-decoration: none;
        color: #fff;
        text-transform: uppercase;
        
        &:hover{
            color: rgb(193, 157, 255);
            border-bottom: 1px solid rgb(193, 157, 255) ;
        }
        &.active{
            border-bottom: 1px solid rgb(193, 157, 255) ;
        }
        &:last-child{
            margin-right: auto 0;
        }
    }
